# dependencies
node_modules/

# build output
src/pkg/
dist/
dist-cli/
target/
*.local

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store