name: Release CLI

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build-and-release:
    name: Build
    runs-on: windows-latest
    strategy:
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build CLI
        run: cargo build --manifest-path core/Cargo.toml --release --features cli --target x86_64-pc-windows-msvc

      - name: Prepare Asset
        shell: bash
        run: |
          # Copy the binary to the root with the asset name
          cp core/target/x86_64-pc-windows-msvc/release/fix-my-halo.exe fixmyhalo.exe

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: fixmyhalo.exe
          generate_release_notes: true
